<a href="https://colab.research.google.com/github/saurabhdaund76/Basic-feature-transformation/blob/main/Feature_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/ML projects/titanic.csv' , usecols=['Pclass','Age','Fare','Survived'])

In [4]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  34.5   7.8292
1         1       3  47.0   7.0000
2         0       2  62.0   9.6875
3         0       3  27.0   8.6625
4         1       3  22.0  12.2875

In [5]:
df.isnull().sum()

Survived     0
Pclass       0
Age         86
Fare         1
dtype: int64

In [12]:
# fill na values 

df['Age'].fillna(df.Age.median(), inplace=True)
df['Fare'].fillna(df.Fare.median(), inplace=True)

In [13]:
df.isnull().sum()

Survived    0
Pclass      0
Age         0
Fare        0
dtype: int64

In [14]:
df.dtypes

Survived      int64
Pclass        int64
Age         float64
Fare        float64
dtype: object

In [20]:
# here dependent column is Surprised
# dependent and independent features

X = df.iloc[:,1:]
y = df.iloc[:,0]

In [21]:
X.head()

   Pclass   Age     Fare
0       3  34.5   7.8292
1       3  47.0   7.0000
2       2  62.0   9.6875
3       3  27.0   8.6625
4       3  22.0  12.2875

In [22]:
y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33 , random_state = 42)

* **Random state:**
* Suppose we have 10 features so we took 7 features for train and 3 for test which means that we have 10c7 ways to select train data and 10c3 ways to select test data
* suppose we have 2,4,6,7,3,8,9 as our train set then 1,10,5 are test we can call this random state 0 it means throughout this will be our dataset for train and test
* same way we can have above mentioned ways to select train and test features randomly
* so here I have given 0.33 as test size and 42 as random state and also we will cheak it for different values of test size and random state how accuracy varies

In [25]:
from sklearn.preprocessing import StandardScaler

* Standard scaler is also called as standardization process in which we calculate z value for all the features

In [27]:
Scaler = StandardScaler()
scaled_X_train = Scaler.fit_transform(X_train)

* Here fit method will actully calculate the mean and std deviation for all the features and transform will calculate the z score for all the features

**Cheak out the more details here**
* [https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html](https://)

In [47]:
scaled_X_test = Scaler.transform(X_test)

In [46]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [45]:
Regressor = LogisticRegression(fit_intercept=True )

* for more about Logistic Regression
*  [https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html](https://)

In [49]:
Regressor.fit(scaled_X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [50]:
Regressor.intercept_

array([-0.50315925])

In [51]:
Regressor.coef_

array([[-0.15573577, -0.03376047,  0.2649818 ]])

In [52]:
y_pred_test = Regressor.predict(scaled_X_test)

In [53]:
y_pred_train = Regressor.predict(scaled_X_train)
# model is created

In [58]:
from sklearn.metrics import accuracy_score,confusion_matrix
import seaborn as sns

In [59]:
accuracy_score(y_test,y_pred_test)

0.7028985507246377

In [60]:
accuracy_score(y_train,y_pred_train)

0.625

In [61]:
confusion_matrix(y_test,y_pred_test)

array([[89,  3],
       [38,  8]])